<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>
	{% if page.title %}
	{{ page.title }} - 
	{% endif %}
	Sandy McMurray
	</title>
	<meta name="author" content="Sandy McMurray" />
	{% if page.summary %}
	<meta namne="description" content="{{ page.summary }}" />
	{% endif %}

<!-- Blueprint CSS call -->
	<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
  	<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]--></code></pre>
<!-- Custom CSS call -->
	<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen, projection, print">

</head>

<body>

	<div class="container">
		<div class="span-20 prepend-4 last">
			<img src="images/happymac.gif" width="50" style="float:left; margin-right:20px;" />
			<h1 style="margin-top:10px;">TechStuff.ca</h1>
		</div>
		<hr class="clear">
		<div class="span-5 append-1" style="text-align:right;">
			by Sandy McMurray
		</div>
		<div class="span-15 append-3 last">
			<p>
			{{ content }}
			</p>
		</div>

	</div>

</body>
</html>